body {
    padding-top: 10px;
    padding-bottom: 10px;
}

.container-left {
    margin: 0;
}

div.toc {
    padding-top: 10px;
    font-size: 80%;
    background-color: #f0f0f0;
}

a {
    color: #0000C0;
}

h2, h3, h4 {
    font-style: italic;
}

h3 {
    font-size: 1.65rem;
}

blockquote {
    background-color: #f0f0f0;
    padding-left: 0.5em;
    padding-top: 0.5em;
    padding-right: 0.5em;
}

ol, ul {
    padding-left: 1.2em;
}

dl {
    padding-left: 1em;
}

dt {
    clear: left;
    float: left;
    margin: 0 0.5em 0 0;
}

dt::before {
    content: "";
    display: block;
    height: 0.25em;
}

dd::before {
    content: "";
    display: block;
    height: 0.25em;
}

dd p {
    display: inline;
    margin: 0;
    padding: 0;
}

dt {
    margin-left: -1em;
}

figure {
    text-align: center;
}

.glossref {
    text-decoration: underline;
}
