*.log
*~
.DS_Store
.Rhistory
.Rproj.user
.coverage
.~lock.*
__pycache__
.pytest_cache
_book
_bookdown_files
_main.Rmd
_novice_py
_novice_r
settings.json
birds.png
index.Rmd
merely-useful.Rmd
*.swp
*~
merely-useful.log
