*.aux
*.lof
*.log
*.lot
*.out
*.swp
*.toc
*~
.DS_Store
.Rhistory
.Rproj.user
.coverage
.pytest_cache
.~lock.*
__pycache__
_book
_bookdown_files
_main.Rmd
birds.png
dog_licenses_common.csv
merely-useful.Rmd
merely-useful.log
rse.Rmd
rse.html
settings.json
