*.aux
*.bbl
*.blg
*.egg-info
*.lof
*.log
*.lot
*.out
*.pyg
*.toc
*~
.DS_Store
.Rhistory
.Rproj.user
.coverage
.jekyll-metadata
.pytest_cache
.~lock.*
__pycache__
_minted-*
_site
dist
en_rmd/figures
htmlcov
project/results/*.*
tex/*/*.pdf
tex/*/all.tex
