{% comment %}
Include all files required in the head.
{% endcomment %}
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes" />
<link rel="stylesheet" href="{{'/assets/bootstrap.min.css'|relative_url}}" />
<link rel="stylesheet" href="{{'/assets/tango.css'|relative_url}}" />
<link rel="stylesheet" href="{{'/assets/site.css'|relative_url}}" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/latest.js?config=TeX-MML-AM_CHTML" async></script>
