<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes" />
<meta name="author" content="{{site.author}}" />

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-1301159-4"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-1301159-4');
</script>

<link href="{{ site.github.url }}/css/bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="{{ site.github.url }}/css/theme.css" rel="stylesheet" type="text/css">
<script src="{{ site.github.url }}/js/jquery.min.js"></script>
<script src="{{ site.github.url }}/js/bootstrap.min.js"></script>
<script src="{{ site.github.url }}/js/theme.js"></script>
<title>{{site.title}}{% if page.title %}: {{page.title}}{% endif %}</title>
