<table>
  <tr>
    <th>Person</th>
    <th>GitHub</th>
    <th>ORCID</th>
  </tr>
  {% for person in site.people %}
  {% assign ident = person[0] %}
  {% assign values = person[1] %}
  <tr class="person" id="{{ident}}">
    <td>{%- if values.site -%}<a href="{{values.site}}">{%- endif -%}{{values.name}}{%- if values.site -%}</a>{%- endif -%}</td>
    <td>{%- if values.github -%}<a href="https://github.com/{{values.github}}">{{values.github}}</a>{%- endif -%}</td>
    <td>{%- if values.orcid -%}<a href="https://orcid.org/{{values.orcid}}">{{values.orcid}}</a>{%- endif -%}</td>
  </tr>
{%- endfor -%}
</table>
