{% comment %}
Display a section of the table of contents.
- title: the TOC section title.
- toc: a section of the table of contents from _config.yml.
- coll: the corresponding collection.
{% endcomment %}

{% if include.title %}<p><strong>{{include.title}}</strong></p>{% endif %}
<ul>
  {%- for toc_entry in include.toc -%}
    {%- for item in include.coll -%}
      {%- if toc_entry == item.permalink -%}
  <li>{% if page.permalink == item.permalink %}<strong>{% endif %}
      <a href="{{item.permalink | relative_url}}">{{item.title}}</a>
      {% if page.permalink == item.permalink %}</strong>{% endif %}
  </li>
        {% break %}
      {%- endif -%}
    {%- endfor -%}
  {%- endfor -%}
</ul>
