{% comment %}
Display a section of the table of contents.
- title: the TOC section title.
- language: the two-letter code for the page language (e.g., 'en' for English).
- coll: the corresponding collection.
- toc: a section of the table of contents from _config.yml.
{% endcomment %}

{% if include.title %}<p><strong>{{include.title}}</strong></p>{% endif %}
<ol class="{{include.class}}">
  {% assign prefix = '/' | append: include.language | append: '/' %}
  {%- for toc_entry in include.toc -%}
    {%- for item in include.coll -%}
      {% assign key = item.permalink | replace: prefix, '/' %}
      {%- if toc_entry == key -%}
  <li>{% if page.permalink == item.permalink %}<strong>{% endif %}
      <a href="{{item.permalink | relative_url}}">{{item.title}}</a>
      {% if page.permalink == item.permalink %}</strong>{% endif %}
  </li>
        {% break %}
      {%- endif -%}
    {%- endfor -%}
  {%- endfor -%}
</ol>
