{% comment %}
Display the bibliography.
- language: the two-letter code for the page language (e.g., 'en' for English).
- coll: the corresponding collection.
- toc: a section of the table of contents from _config.yml.
{% endcomment %}

{% assign prefix = '/' | append: include.language | append: '/' %}
{%- for toc_entry in include.toc -%}
  {%- for item in include.coll -%}
    {% assign key = item.permalink | replace: prefix, '/' %}
    {%- if toc_entry == key -%}
<p>
  {% if page.permalink == item.permalink %}<strong>{% endif %}
    <a href="{{item.permalink | relative_url}}">{{item.title}}</a>
  {% if page.permalink == item.permalink %}</strong>{% endif %}
</p>
      {% break %}
    {%- endif -%}
  {%- endfor -%}
{%- endfor -%}
