{% comment %}
Display the table of comments.  Parameters are:

- language: the two-letter code for the page language (e.g., 'en' for English).
{% endcomment %}

{% comment %} Select chapters and translations based on language. {% endcomment %}
{% assign chapters = site[include.language] %}
{% assign translations = site.translations[include.language] %}

<nav>

  {% comment %} Put the logo at the top of the navigation menu. {% endcomment %}
  <a href="{{'/'|append: include.language|append: '/'|relative_url}}"><img src="{{'/assets/logo.svg'|relative_url}}" alt="{{site.title}} logo" width="75%" /></a>

  {% comment %} Download PDF and EPUB versions. {% endcomment %}
  {% if site.purchase %}
  <hr/>
  <p>
    <a href="{{site.purchase}}"><img src="{{'/assets/lulu.gif'|relative_url}}" border="0" alt="{{site.translations[page.language].lulu}}" /></a>
  </p>
  {% endif %}

  {% comment %} Show the lessons, bibliography, and extras in that order using a sub-inclusion. {% endcomment %}
  <hr/>
  {% include toc-section.html language=include.language coll=chapters class="chapter" title="Lessons" toc=site.toc.lessons %}
  {% include toc-bib.html language=include.language %}
  {% include toc-section.html language=include.language coll=chapters class="appendix" title="Extras" toc=site.toc.extras %}

  {% comment %} Show disclaimer. {% endcomment %}
  {% if site.disclaimer %}
  <p class="disclaimer">
    These notes are in the early stages of development.
    Corrections, suggestions, and contributions are welcome.
  </p>
  {% endif %}

  {% comment %} Show footer links. {% endcomment %}
  <hr/>
  <p>
    <a href="{{'/'|append: include.language|append: '/license/'|relative_url}}"><img src="{{'/assets/cc-by.svg'|relative_url}}" alt="CC-BY License" width="50%" /></a>
    <a href="mailto:{{site.email}}"><img src="{{'/assets/email.svg'|relative_url}}" alt="Email" width="20%" /></a>
    <a href="{{site.repo}}"><img src="{{'/assets/github.svg'|relative_url}}" alt="GitHub" width="20%" /></a>
  </p>

  {% comment %} Show the creation date on the index page only. {% endcomment %}
  {% if page.root %}<p><em>{{translations.generated}} {{site.time|date: '%Y-%m-%d'}}.</em></p>{% endif %}
</nav>
