/* Remove Table of Contents sidebar when printing. */
@media print {
    .main {
        margin-left: 0;
        width: 100%;
    }
}

/* Highlight pages that haven't been done. */
.undone {
    background-color: #F0FFFF;
}

/* Table of Contents sidebar. */
div.toc {
    min-height: 100vh;
    padding-top: 0.5em;
    font-size: 80%;
}

/* Less space between titles and bullet lists in ToC and objectives/keypoints boxes. */
div.toc p ~ ol {
    margin-top: -1em;
    margin-bottom: 5px;
}
div.listblock p ~ ul {
    margin-top: -1em;
    margin-bottom: 5px;
}

/* Outlines for objectives, contents, and key points. */
div.listblock {
    border-style: solid;
    border-width: 2px;
    border-color: #C0C0C0;
    padding-left: 0.5em;
    padding-top: 0.5em;
    margin-bottom: 1em;
}

/* Make headings smaller in listblocks. */
div.listblock h2 {
    font-size: 1.5em;
}

/* Add a bit of space above and to the left of exercises. */
section {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding-bottom: 0.5em;
    margin-top: 1em;
    border-left: solid;
    padding-left: 1em;
    border-width: 5px;
    border-color: #C0C0C0;
    margin-bottom: 1em;
}

/* Highlight solutions a little. */
aside {
    margin-top: 0.5em;
    background-color: #FAFAFA;
}

/* Clickable link for solutions. */
span.solution {
    padding-left: 5px;
    padding-right: 5px;
    font-weight: bold;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
}

/* Outlines for code samples. */
pre.highlight {
    border-style: solid;
    border-width: 2px;
    border-color: #C0C0C0;
    padding: 0.5em;
    background-color: #F8F8F8;
}

/* Make inline code darker than Bootstrap default. */
code.highlighter-rouge {
    color: #a06060;
}

/* Disclaimer. */
.disclaimer {
    font-style: italic;
    font-weight: bold;
    border-style: solid;
    border-width: 2px;
    padding: 0.5em;
    margin-bottom: 0.5em;
}

/* Make keyboard items a little less stark */
kbd {
    background-color: #606060;
}

/* Make links darker than Bootstrap default. */
a {
    color: #6060a0;
}

/* Style glossary reference links. */
a.gloss {
    font-weight: bold;
}

/* Don't indent lists quite so much. */
ol, ul {
    padding-left: 1.2em;
}

/* Number chapters and appendices */
ol.chapter {
    list-style-type: decimal;
}
ol.appendix {
    list-style-type: upper-alpha;
}

/* Center figures. */
figure {
    border-style: solid;
    border-width: 2px;
    border-color: #C0C0C0;
    padding: 2px;
    text-align: center;
}

figcaption {
    text-align: center;
    font-weight: bold;
}

figure img {
    max-width: 90%;
}

/* Mark quotations. */
blockquote {
    border-radius: 10px;
    padding: 1em;
    padding-bottom: 1px;
    margin-top: 0.5em;
    background-color: #F0F0F0;
    border-style: solid;
    border-width: 1px;
    border-color: #C0C0C0;
}

/* Make h3 more distinct from h2. */
h3 {
    font-style: italic;
}

/* Glossary references are in bold. */
.glossref {
    font-weight: bold;
}

/* Table captions centered. */
table caption {
    text-align: center;
}

/* Closing up definition lists. */
dl {
    padding-left: 1em;
}
dt {
    clear: left;
    float: left;
    margin: 0 0.5em 0 0;
}
dt::before {
    content: "";
    display: block;
    height: 0.25em;
}
dd::before {
    content: "";
    display: block;
    height: 0.25em;
}
dd p {
    display: inline;
    margin: 0;
    padding: 0;
}
dt {
    margin-left: -1em;
}

.coverage {
    background-color: #f0a0a0;
}

/* Fix Pygments displaying back quotes as errors by marking back quotes as Operator. */
.highlight .err {
    color: #ce5c00;
    font-weight: bold;
    border: none;
}
