{% assign translations=site.translations[page.language] %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{page.language}}">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes" />
    <meta name="author" content="{{site.author}}" />
    <title>{{site.title}}: {% if page.title %}{{page.title}}{% else %}{{site.subtitle}}{% endif %}</title>
    {% include css.html %}
    {% include js.html %}
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-2 d-print-none toc">
          {% include toc.html language=page.language translations=translations %}
        </div>
        <div class="col-md-10 main">
          {{site.marker.start}}
          <h1>{% if page.root %}{{site.title}}{% else %}{{page.title}}{% endif %}</h1>
          {% include listblock.html title=translations.objectives items=page.objectives %}
          {{content}}
          {{site.marker.end}}
        </div>
      </div>
    </div>
  </body>
</html>
