---
layout: default
---
<div class="container-fluid">
  <div class="row">
    <div class="col-md-2 d-print-none toc">
      {% include toc.html language=page.language %}
    </div>
    <!-- begin: main -->
    <div class="col-md-8 main">
      <h1 id="s:{{page.slug}}">{% if page.root %}{{site.title}}{% else %}{{page.title}}{% endif %}</h1>
      <div class="listblock headings"></div>
      {{content}}
      {% include listblock.html title=translations.keypoints items=page.keypoints %}
    </div>
    <!-- end: main -->
  </div>
</div>
